@font-face {
	font-family: "Axiforma";
	src: url("../fonts/Axiforma-Regular.woff");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Axiforma Black";
	src: url("../fonts/Axiforma-Black.woff");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Axiforma Bold";
	src: url("../fonts/Axiforma-Bold.woff");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Georgia";
	src: url("../fonts/georgia.woff");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Georgia Bold";
	src: url("../fonts/Georgia-Bold.woff2");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Perpetua";
	src: url("../fonts/Perpetua-Bold.woff2");
	font-weight: 700;
	font-display: swap;
}

