.feedback {
	--container-width: 1170px;
	padding-bottom: 180px;
}

.feedback__title {
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 440px;
	font-family: var(--six-family);
	font-size: 48px;
	font-weight: 700;
	line-height: 54.54px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #353540;
}

.user__content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
}

.user__text-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.user__text-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.user__hero-title {
	font-family: var(--six-family);
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-align: left;
	color: var(--darker-primary);
}

.user__descr {
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-align: left;
	color: #5d5d61;
}
